body {
    background-color: rgb(30, 32, 36);
    margin: none;
}

.intro {
    position: fixed;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(12, 13, 15);
    z-index: 8;
    margin-top: -70px;
    margin-left: -8px;
    color: white;
    animation: intro-close 6s;
    transform: translateY(-102vh);
}

@keyframes intro-close {
    0%, 80% { display: block; transform: translateY(0); }
    99% { transform: translateY(-102vh); }
}

.row {
    transform: translateY(25vh);
    animation: intro-row-anim 1s;
}

@keyframes intro-row-anim {
    from { transform: translateY(-100%) rotate(-200deg); opacity: 0; }
}

.intro > .row > h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 4vw;
    margin-top: 40px;
    animation: intro-title-anim 3s;
}

@media screen and (min-width: 1600px) {
    .intro > .row > h1  {
        font-size: 2vw;
    }
}

@keyframes intro-title-anim {
    0%, 40% { opacity: 0; }
    80% { opacity: 1; }
}

.intro img {
    width: 8cm;
}

h1, h2 {
    margin: 0;
}
.awalan {
    text-align: center;
    margin: 2cm 10% 1cm 10%;
    color: white;
}
.awalan h1 {
    font-size: 120px;
    font-family: 'Arvo', sans-serif;
}
.awalan hr {
    width: 40%;
}
.awalan div {
    font-family: 'Roboto Mono', monospace;
}
.container {
    background-color: rgb(40, 42, 48);
    margin: 0 10%;
    padding: 20px 30px;
    color: white;
    border: solid white;
    font-family: 'Roboto', sans-serif;
}
.audio-con {
    margin-top: 20px;
    float: right;
    width: 28%;
    border: 2px solid white;
    margin-left: 20px;
    padding: 20px;
}
.index-au-desc, .index-au-list, .audio-list {
    margin-top: 20px;
}
.index-au-list button {
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: larger;
    width: 1.2cm;
    height: 1.2cm;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Roboto', sans-serif;
    transition-duration: .2s;
}
.index-au-list button:hover {
    background-color: white;
    color: rgb(40, 42, 48);
    cursor: pointer;
}
table {
    margin-top: 20px;
    width: 65%;
    background-color: rgb(66, 68, 78);
    border-collapse: collapse;
}


td {
    padding: 10px;
}
.col-j td {
    text-align: center;
    background-color: white;
    font-weight: bold;
    color: rgb(40, 42, 48);
    padding: 12px;
    font-size: large;
}
#audio-list-col {
    margin-top: 30px;
    height: 8cm;
}
.audio-list {
    *zoom: 1;
    overflow-x: auto;
    overflow-y: scroll;
    height: 8cm;
    box-sizing: border-box;
    border: 2px solid white;
    padding: 20px;
}
.au-li {
    height: 40px;
    background-color: rgb(60, 62, 71);
    border: 2px solid white;
    padding: 4px;
    margin-bottom: 8px;
    transition-duration: .2s;
}
.au-li:hover {
    border: 2px solid rgb(60, 62, 71);
}
.audio-name, .au-li button, .volume-col, .au-list-index-num, .volume-col * {
    display: inline-block;
}
.audio-name {
    transform: translateY(-6px);
    margin-left: 10px;
}

.au-list-index-num {
    text-align: center;
    background-color: white;
    color: rgb(60, 62, 71);
    width: 30px;
    height: 50px;
    transform: translate(-15%, -20px);
}
.au-list-index-num div {
    transform: translateY(80%);
    font-weight: bold;
}
.au-li button {
    background-color: transparent;
    border: 2px solid white;
    width: 1cm;
    height: 1cm;
    transition-duration: .2s;
}
.au-li button:hover {
    border: 2px solid rgba(255, 255, 255, .5);
    cursor: pointer;
}
.au-li button:hover > img {
    filter: opacity(.5);
}
.au-li img {
    margin-top: 2px;
    width: 100%;
    transition-duration: .2s;
}
.volume-col {
    float: right;
    text-align: right;
}
.volume-col input {
    transform: translate(0, -7px);
}
.volume-col div {
    transform: translate(0, -6px);
}
.volume-col button {
    width: 40px;
}
.volume-col input {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 8px;
    background: white;
    border-radius: 4px;
    outline: none;
    transition-duration: .1s;
}
.volume-col input:hover {
    cursor: pointer;
}
.volume-col input:active {
    background-color: rgba(255, 255, 255, .8);
}
.volume-col input[type="range"] {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    margin: 0 8px 0 8px;
    width: 50%;
}
.volume-col input[type="range"]::-ms-fill-upper {
    background-color: black;
}
.volume-col input[type="range"]::-ms-fill-upper {
    background-color: white;
}
.volume-col input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.container-pendukung {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 60px 18% 40px 18%;
    font-size: larger;
}
.container-pendukung h1, .container-pendukung h2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 8px 0 8px -2px;
}
.container-pendukung h1 { font-size: 50px; }
.container-pendukung h2 { font-size: 30px; }
.container-pendukung a {
    text-decoration: none;
    color: rgb(66, 196, 66);
}
.container-pendukung div:last-child {
    margin-top: 20px;
}

@media screen and (max-width: 1366px) {
    .container-pendukung {
        font-size: medium;
    }
    .container-pendukung h1 { font-size: xx-large; }
    .container-pendukung h2 { font-size: x-large; }
}

@media screen and (max-width: 1245px) {
    .audio-con {
        margin-top: 10px;
        margin-bottom: 20px;
        float: none;
        margin-left: 0px;
        padding: 20px;
        width: auto;
    }
    table {
        width: 100%;
    }
}